@use "../../constants/css/theme" as *;
@import "../../constants/css/breakpoints.scss";

.main {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    @include media("<laptop") {
        backdrop-filter: blur(15px);
        background: get(mb-nav-header-bg);
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    }
    .container {
        width: 90vw;
        padding: 20px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include media("<laptop") {
            padding: 10px 0;
        }
        @include media("<tablet") {
            padding: 15px 0;
        }
        .nav_drop {
            display: none;
            #themeSwitcher + label {
                visibility: hidden;
                height: 26px;
                width: 26px;
            }
            @include media("<laptop") {
                display: flex;
                align-items: center;
            }
            button {
                all: unset;
                visibility: hidden;
                font-size: 2.3em;
                color: get(primary);
                transition: 0.2s;
                cursor: pointer;
                line-height: 0.5;
                &:hover,
                :focus {
                    color: get(primary-light);
                }
            }
        }

        .logo {
            padding: 0 10px;
            svg {
                visibility: hidden;
                fill: get(primary);
                width: 60px;
                height: 50px;
                @include media("<desktop") {
                    width: 46px;
                    height: 35px;
                }
            }
        }
    }
}

.dropNav_con {
    visibility: hidden;
    position: fixed;
    z-index: 7;
    min-height: calc(var(--vh, 1vh) * 100);
    background: get(lp-nav-bg);
    backdrop-filter: blur(30px);
    width: 100vw;
    .dropNav {
        background: get(mb-nav-bg);
        border-radius: 0 0 50px 50px;
        padding: 3em 1em;
        padding-top: 5em;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            li {
                flex-basis: 50%;
                visibility: hidden;
                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 1em;
                    color: #8c8c8c;
                    border-radius: 10px;
                    padding: 2em;
                    font-weight: 600;
                    svg {
                        font-size: 1.3em;
                        margin-bottom: 5px;
                    }
                    &:active {
                        background: get(primary);
                        color: #fff;
                        svg {
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
        .mb_links {
            visibility: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: -1.4em;
            left: 50%;
            transform: translate(-50%, 0);
            width: 64vw;
            border-radius: 30px;
            background: get(mb-nav-bg);
            border: 3px solid get(mb-nav-border);
            a {
                visibility: inherit;
                height: 45px;
                &:last-child:after {
                    display: none;
                }
            }
        }
    }
}
.links,
.mb_links {
    display: flex;
    align-items: center;
    @include media("<laptop") {
        display: none;
    }
    a {
        visibility: hidden;
        display: flex;
        align-items: center;
        height: 50px;
        padding: 15px 0;
        color: get(primary);
        -webkit-transition: 0.2s;
        transition: 0.2s;
        border-radius: 50%;
        font-size: 1.4em;
        font-weight: 700;
        &:after {
            content: " ";
            display: inline-block;
            height: 4px;
            width: 4px;
            margin: 0 15px;
            background: rgb(177, 177, 177);
            border-radius: 5px;
        }
        &:hover {
            color: get(primary-hover);
            transform: scale(1.05) !important;
        }
    }
}
#themeSwitcher {
    display: none;
    &:checked + label {
        background-color: transparent;
        box-shadow: inset 8px -7px get(switcher);
    }
    &:not(:checked) + label {
        background: get(switcher);
    }
    & + label {
        content: "";
        display: inline-block;
        cursor: pointer;
        width: 20px;
        height: 20px;
        margin-right: 1em;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
    }
}

.menu {
    width: 26px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.menu span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: get(primary);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.menu span:nth-child(1) {
    top: 0px;
}

.menu span:nth-child(2),
.menu span:nth-child(3) {
    top: 9px;
    width: 70%;
    right: 0;
    left: unset;
}

.menu span:nth-child(4) {
    top: 18px;
}

.menu.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.menu.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 100%;
}

.menu.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 100%;
}

.menu.open span:nth-child(4) {
    top: 9px;
    width: 0%;
    left: 50%;
}
