@use "../../utils/css/theme" as *;
.header {
    display: flex;
    padding: 1.8rem 0;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    margin-left: 3.5vw;
    width: 100%;
    .logo {
        fill: get(primary);
        width: 50px;
        height: 50px;
    }
    nav svg {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 1rem;
    }
}
