@use "../../utils/css/theme" as *;
.header {
    display: flex;
    padding: 1.8rem 0;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 30;
    margin-left: 2vw;
    width: 100%;
    mix-blend-mode: difference;
    .logo {
        svg {
            fill: get(primary);
            width: 45px;
            height: 45px;
        }
    }
    nav svg {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 1rem;
    }
}
