@use '../../constants/css/theme' as *;
@import "../../constants/css/breakpoints.scss";

.container {
  min-height: 100vh;
  .shadow_T {
    font-size: 10em;
    font-weight: 700;
    line-height: 0.9;
    letter-spacing: -5px;
    color: get(block-text);
    @include media("<tablet") {
      font-size: 6em;
      display: block;
      text-align: center;
    }
  }
  .con {
    min-height: 80vh;

    .counter {
      display: flex;
      align-items: center;
      margin-top: -5em;
      justify-content: space-between;
      .left_col {
        & > span {
          font-size: 5em;
          font-weight: 700;
          color: get(primary);
          span {
            font-size: 0.25em;
            font-weight: 600;
            color: get(text-color);
          }
        }
      }
      button {
        width: 9em;
        height: 2.5em;
        border: none;
        border-radius: 25px;
        font-size: 1.1em;
        color: #ffffff;
        background: linear-gradient(to right, get(primary), get(primary-light));
        margin-top: 10px;
        transition: 0.2s;
        cursor: pointer;
        //   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
          rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        &:hover {
          font-size: 1.15em;
          transform: scale(1.05);
        }
      }
    }
  }
}
