@use '../../constants/css/theme' as *;
@import "../../constants/css/breakpoints.scss";

.container {
  min-height: 100vh;
  margin-bottom: 6em;
  .shadow_T {
    font-size: 10em;
    font-weight: 700;
    line-height: 0.9;
    letter-spacing: -5px;
    color: get(block-text);
    @include media("<tablet") {
      font-size: 6em;
      display: block;
      text-align: center;
    }
  }
  .con {
    min-height: 80vh;

    .counter {
      display: flex;
      align-items: center;
      margin-top: -2em;
      background: get(float-icon-background);
      padding: 0 2em;
      border-radius: 20px;
      justify-content: space-between;
      @include media("<tablet") {
        padding: 0;
        padding-left: 1em;
      }
      .left_col {
        height: 5.5em;
        @include media("<tablet") {
          height: auto;
        }
        & > span {
          font-size: 4em;
          font-weight: 700;
          color: get(primary);
          span {
            font-size: 0.25em;
            font-weight: 600;
            color: get(text-color);
            @include media("<tablet") {
              font-size: 0.6em;
            }
          }
          @include media("<tablet") {
            font-size: 1.5em;
            line-height: 0.8;
          }
        }
      }
      button {
        min-width: 9em;
        height: 2.5em;
        border: none;
        border-radius: 25px;
        padding: 0 2em;
        font-size: 1em;
        color: #ffffff;
        background-image: linear-gradient(
          to right,
          get(primary),
          get(primary-light)
        );
        background-size: 150% auto;

        transition: 0.3s;
        cursor: pointer;
        //   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
          rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        &:hover {
          background-position: right center;
          transform: translateY(-2px);
          box-shadow: rgba(23, 23, 24, 0.7) 0px 12px 30px -10px;
          @include media("<tablet") {
            transform: none;
            box-shadow: none;
          }
        }
        &:active {
          transform: scale(0.95);
        }
      }
    }
  }
}
