@use '../../constants/css/theme' as *;
@import "../../constants/css/breakpoints.scss";

.container {
  display: flex;
  min-height: 100vh;
  //   flex-wrap: wrap;
  @include media("<laptop") {
    padding-top: 5em;
    // font-size: 0.9em;
  }
  @include media("<tablet") {
    flex-direction: column-reverse;
    margin-top: 5em;
  }

  .left_col {
    flex: 1 1 0;
    overflow: hidden;
    @include media("<desktop") {
      font-size: 0.9em;
    }
    .intro_con,
    .about_con {
      height: 100vh;
      display: flex;
      flex-direction: column;
      @include media("<laptop") {
        height: calc(100vh - 5.6em);
      }
    }
    .intro_con {
      @include media("<tablet") {
        text-align: center;
        font-size: 0.8em;
      }
    }
    .about_con {
      .title {
        font-size: 1.5em;
        width: 90%;
        color: get(primary);
        padding-left: 19px;
      }
      .quote {
        font-size: 1.7em;
        quotes: "“" "”" "‘" "’";
        margin: 1.5em 0;
        color: #929292;
        padding-right: 2em;
        padding-left: 19px;
        &::after,
        &::before {
          font-size: 2.5em;
          position: absolute;
          opacity: 0.5;
        }
        &::before {
          content: open-quote;
          margin: -15px -23px;
        }
        &::after {
          content: close-quote;
          margin: -10px 0;
        }
      }
    }
    .shadow_T {
      font-size: 10em;
      font-weight: 700;
      letter-spacing: -5px;
      color: get(block-text);
    }
    h1 {
      position: relative;
      z-index: 4;
      font-size: 4em;
      color: get(primary-dark);
      font-weight: 500;
      margin-bottom: 0.2em;
      margin-top: 0;
      visibility: hidden;
      @include media("<tablet") {
        visibility: visible;
      }
      span {
        color: get(primary);
        font-weight: 700;
        @include media("<1000px") {
          display: block;
          font-size: 1.3em;
        }
      }
    }
    h3 {
      position: relative;
      z-index: 4;
      margin: 0 0 0.3em 0;
      font-size: 1.9em;
      font-weight: 600;
      color: get(text-color);
      visibility: hidden;
      @include media("<tablet") {
        visibility: visible;
      }
    }
  }
  .right_col {
    flex: 1 1 0;
    height: 100vh;
    // overflow: hidden;
    position: relative;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media("<laptop") {
      height: calc(100vh - 5.6em);
    }
    .sub_con {
      position: relative;
      .author_container {
        width: 20em;
        margin-left: 7em;
        @include media("<desktop") {
          width: 19em;
        }
        @include media("<laptop") {
          width: 17.5em;
        }
        @include media("<tablet") {
          margin-left: 0;
          width: 17em;
        }
        & > div {
          position: unset !important;
          overflow: visible !important;
        }
        .author_image {
          visibility: hidden;
          transform-origin: center;
          object-fit: contain;
          width: 90% !important;
          position: relative !important;
          height: unset !important;
          border-radius: 50%;
          //   visibility: hidden; ///comment
          box-shadow: rgb(29 24 29) 9px 8px 25px -10px;
          border: 6px solid white !important;
          @include media("<tablet") {
            visibility: visible;
          }
        }
      }
      svg.firstBlob {
        visibility: hidden;
        position: absolute;
        right: -40%;
        top: -55%;
        width: 41em;
        height: 39em;
        z-index: -1;
        fill: get(blob-color);
        @include media("<desktop") {
          width: 39em;
          height: 36em;
          top: -52%;
        }
        @include media("<laptop") {
          width: 34.5em;
          height: 31.5em;
          top: -44%;
        }
        //   @include media("<laptop") {
        //     width: 36em;
        //     height: 33em;
        //     top: 0;
        //   }
        //   @include media("<1000px") {
        //     width: 34.5em;
        //     height: 31.5em;
        //     top: 0;
        //   }
      }
      svg.arrow {
        position: absolute;
        left: -55%;
        top: 46%;
        width: 22em;
        z-index: 0;
        fill: get(arrow-color);
        @include media("<desktop") {
          width: 20em;
          left: -48%;
        }
        @include media("<1260px") {
          width: 19em;
        }
        @include media("<1180px") {
          width: 18em;
        }
        @include media("<1000px") {
          display: none;
        }
      }
    }
  }
}
