@use '../../constants/css/theme' as *;
@import "../../constants/css/breakpoints.scss";

.container {
  //   min-height: 100vh;
  //   margin-bottom: 5em;
  display: flex;
  flex-wrap: wrap;
  @include media("<tablet") {
    flex-direction: column-reverse;
    margin-top: 5em;
  }
  //   visibility: hidden; ///comment
  //   scroll-snap-align: start;
  .left_col {
    flex: 1 1 0;
    overflow: hidden;
    .intro_con,
    .about_con {
      height: 100vh;
      display: flex;
      flex-direction: column;
    }
    .intro_con {
      @include media("<tablet") {
        text-align: center;
        font-size: 0.8em;
      }
    }
    .about_con {
      .title {
        font-size: 1.5em;
        width: 90%;
        color: get(primary);
        padding-left: 19px;
      }
      .quote {
        font-size: 1.7em;
        quotes: "“" "”" "‘" "’";
        margin: 1.5em 0;
        color: #929292;
        padding-right: 2em;
        padding-left: 19px;
        &::after,
        &::before {
          font-size: 2.5em;
          position: absolute;
          opacity: 0.5;
        }
        &::before {
          content: open-quote;
          margin: -15px -23px;
        }
        &::after {
          content: close-quote;
          margin: -10px 0;
        }
      }
    }
    .shadow_T {
      font-size: 10em;
      font-weight: 700;
      letter-spacing: -5px;
      color: get(block-text);
    }
    h1 {
      position: relative;
      z-index: 4;
      font-size: 4em;
      color: get(primary-dark);
      font-weight: 500;
      margin-bottom: 0.2em;
      margin-top: 0;
      visibility: hidden;
      @include media("<tablet") {
        visibility: visible;
      }
      span {
        color: get(primary);
        font-weight: 700;
      }
    }
    h3 {
      position: relative;
      z-index: 4;
      margin: 0 0 0.3em 0;
      font-size: 1.9em;
      font-weight: 600;
      color: get(text-color);
      visibility: hidden;
      @include media("<tablet") {
        visibility: visible;
      }
    }
  }
  .right_col {
    flex: 1 1 0;
    height: 100vh;
    // overflow: hidden;
    position: relative;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;

    .author_container {
      width: 20em;
      margin-left: 7em;
      @include media("<tablet") {
        margin-left: 0;
        width: 17em;
      }
      & > div {
        position: unset !important;
        overflow: visible !important;
      }
      .author_image {
        visibility: hidden;
        transform-origin: center;
        object-fit: contain;
        width: 90% !important;
        position: relative !important;
        height: unset !important;
        border-radius: 50%;
        //   visibility: hidden; ///comment
        box-shadow: rgb(29 24 29) 9px 8px 25px -10px;
        border: 6px solid white !important;
        @include media("<tablet") {
          visibility: visible;
        }
      }
    }
    svg.firstBlob {
      visibility: hidden;
      position: absolute;
      right: -8em;
      top: -3.5em;
      width: 41em;
      z-index: -1;
      fill: get(blob-color);
    }
    svg.arrow {
      position: absolute;
      left: -13em;
      top: 46%;
      width: 75%;
      z-index: 0;
      fill: get(arrow-color);
    }
  }
}
