@use '../../constants/css/theme' as *;

.container {
  //   min-height: 100vh;
  display: flex;
  visibility: hidden;
  //   scroll-snap-align: start;
  .left_col {
    width: 50%;
    .intro_con,
    .about_con {
      height: 100vh;
      display: flex;
      flex-direction: column;
    }
    .about_con {
      .title {
        font-size: 1.5em;
        width: 90%;
        color: get(primary);
      }
      .quote {
        font-size: 2em;
        quotes: "“" "”" "‘" "’";
        margin: 1.5em 0;
        color: #929292;
        &::after,
        &::before {
          font-size: 2em;
          font-weight: 700;
          position: absolute;
          opacity: 0.5;
        }
        &::before {
          content: open-quote;
          margin: -0.2em -0.5em;
        }
        &::after {
          content: close-quote;
        }
      }
    }
    .shadow_T {
      font-size: 10em;
      font-weight: 700;
      letter-spacing: -5px;
      color: #8c8c8c40;
    }
    h1 {
      position: relative;
      z-index: 4;
      font-size: 4em;
      color: get(primary-hover);
      font-weight: 500;
      margin-bottom: 0.2em;
      margin-top: 0;
      span {
        color: get(primary);
        font-weight: 700;
      }
    }
    h3 {
      position: relative;
      z-index: 4;
      margin: 0 0 0.3em 0;
      font-size: 1.9em;
      font-weight: 600;
      color: get(title-h3-color);
    }
  }
  .right_col {
    width: 50%;
    height: 100vh;
    // overflow: hidden;
    position: relative;
    z-index: 4;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    .author_container {
      width: 24em;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    svg.firstBlob {
      position: absolute;
      right: -8em;
      top: -3.5em;
      width: 41em;
      z-index: -1;
      fill: get(blob-color);
    }
    svg.arrow {
      position: absolute;
      left: -13em;
      top: 46%;
      width: 75%;
      z-index: 0;
      fill: get(arrow-color);
    }
  }
}
