@use '../../constants/css/theme' as *;
@import "../../constants/css/breakpoints.scss";

.container {
  min-height: 100vh;
  .shadow_T {
    font-size: 10em;
    font-weight: 700;
    line-height: 0.7;
    letter-spacing: -5px;
    color: get(block-text);
  }
}
