@use "../../constants/css/theme" as *;
@import "../../constants/css/breakpoints.scss";

.container {
    min-height: 100vh;
    .shadow_T {
        font-size: 10em;
        font-weight: 700;
        // line-height: 0.9;
        letter-spacing: -5px;
        color: get(block-text);
        @include media("<tablet") {
            font-size: 6em;
            display: block;
            text-align: center;
        }
    }
    .con {
        display: flex;
        gap: 4rem;
        min-height: 80vh;
        align-items: center;
        @include media("<tablet") {
            flex-direction: column;
            justify-content: center;
            gap: 3rem;
            padding: 3rem 0;
        }
    }
}
