@use '../../constants/css/theme' as *;
@import "../../constants/css/breakpoints.scss";

.container {
  min-height: 100vh;
  position: relative;
  margin-bottom: 8em;
  @include media("<desktop") {
    font-size: 0.9em;
  }
  @include media("<laptop") {
    min-height: calc(100vh - 2em);
  }
  .shadow_T {
    font-size: 10em;
    font-weight: 700;
    line-height: 0.7;
    letter-spacing: -5px;
    color: get(block-text);
    @include media("<tablet") {
      font-size: 7.7em;
      display: block;
      text-align: center;
    }
  }
  .path_con {
    position: relative;
    padding-top: 1.7em;
    .path {
      width: 91em;
      height: 18em;
      position: absolute;
      z-index: -1;
      left: -17em;
      @include media("<tablet") {
        display: none;
      }
    }
    .pathMB {
      position: absolute;
      left: -2.5em;
      @include media(">tablet") {
        display: none;
      }
    }
    .info {
      position: absolute;
      @include media("<tablet") {
        font-size: 1.2em;
      }
      &:nth-of-type(1) {
        top: 5em;
        left: 2em;
        @include media("<tablet") {
          top: 8em;
          left: 8em;
        }
      }
      &:nth-of-type(2) {
        top: 6em;
        left: 21em;
        @include media("<tablet") {
          top: 17.9em;
          left: 8em;
        }
      }
      &:nth-of-type(3) {
        top: 20.5em;
        left: 20.5em;
        @include media("<tablet") {
          top: 27.5em;
          left: 8em;
        }
      }
      span {
        font-size: 1.4em;
        font-weight: 700;
        color: get(primary);
      }
      p {
        margin: 10px 0;
        width: 13em;
        color: get(text-color);
        a {
          color: get(primary-hover);
          font-weight: 600;
          &:hover {
            color: get(primary-light);
          }
        }
      }
    }
  }
  .guy {
    width: 17em;
    position: absolute;
    bottom: 1em;
    left: 0;
    @include media("<tablet") {
      width: 12em;
      bottom: -13em;
    }
  }
  .secBlob {
    position: absolute;
    right: 9em;
    bottom: 0;
    font-style: italic;
    @include media("<laptop") {
      font-size: 0.9em;
      bottom: -1em;
    }
    @include media("<tablet") {
      font-size: 0.8em;
      bottom: 5em;
      width: 10em;
    }
    .text {
      position: absolute;
      top: 40%;
      right: -9em;
      color: get(text-color);
      & > span:nth-of-type(1) {
        font-size: 8em;
        font-weight: 700;
        position: absolute;
        line-height: 0.4;
        left: -84px;
        color: get(primary);
        @include media("<tablet") {
          left: -57px;
        }
      }
      & > span:nth-of-type(2) {
        font-size: 2em;
        font-weight: 600;
        right: 0;
        display: block;
        // @include media("<tablet") {
        //   margin-left: -8px;
        // }
      }
      & > span:nth-of-type(3) {
        font-size: 2em;
        font-weight: 600;
        right: 0;
        display: block;
      }
    }
  }
  .blob {
    fill: get(blob-color);
    width: 16em;
    @include media("<laptop") {
      display: none;
    }
  }
}
