@use '../../constants/css/theme' as *;
@import "../../constants/css/breakpoints.scss";

.container {
  position: relative;
  flex: 1 1;
  @include media("<tablet") {
    font-size: 0.9em;
  }
  .skill_item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.8em;
    width: 1.8em;
    color: #fff;
    border-radius: 10px;
    font-size: 2em;
    background: #984fd2;
    transform: rotate(45deg);
    margin: 0 auto;
    transition: 0.2s;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    svg {
      transform: rotate(-45deg);
    }
    &:hover {
      //   background: chocolate;
      transform: rotate(45deg) scale(1.1) !important;
    }
    &.active {
      background: #5b3e73;
      box-shadow: inset -15px 13px 15px #3754aa26, inset -6px 7px 20px #3a363666,
        inset -1px 7px 6px 1px #00000026;
      &:hover {
        transform: rotate(45deg) !important;
      }
    }
  }

  div:nth-of-type(1),
  div:nth-of-type(3),
  div:nth-of-type(5) {
    .skill_item:nth-of-type(1) {
      margin-right: 13px;
    }
    .skill_item:nth-of-type(3) {
      margin-left: 13px;
    }
  }

  div:nth-of-type(3) {
    align-items: center;
    .skill_item:nth-of-type(2) {
      height: 2.5em;
      width: 2.5em;
      svg {
        font-size: 1.8em;
        transform-origin: center;
        animation: rotation 5s infinite linear;
      }
    }
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}
