@use "../utils/css/theme" as *;

:root {
}

@media (prefers-color-scheme: dark) {
    :root {
    }
}

:root {
    @each $prop, $val in $light {
        --#{$prop}: #{$val};
    }
}

.dark-mode {
    @each $prop, $val in $dark {
        --#{$prop}: #{$val};
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    background: #000;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-tap-highlight-color: transparent;
}
// .main {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     min-height: 100vh;
// }
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}
