@use '../../constants/css/theme' as *;

.container {
  position: fixed;
  z-index: 12;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: get(float-icon-background);
    border-radius: 20px;
    opacity: 0;

    li {
      padding: 0.35em 0.3em;
    }
  }
  a {
    display: flex;
    height: 1.5em;
    width: 1.5em;
    font-size: 19px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: get(float-icon-color);
    transition: 0.2s;
    cursor: pointer;
    &:hover {
      background: get(float-icon-bg-hover);
      color: get(float-icon-color-hover);
    }
  }
  span {
    display: flex;
    // visibility: hidden;
    justify-content: center;
    margin-bottom: -2em;
    margin-top: 1.5em;
    background: get(primary);
    border-radius: 50%;
    margin: 1.5em 5px -2em 5px;
    transition: 0.2s;
    a {
      color: get(float-icon-color-hover);
    }
    &:hover {
      background: get(primary);
      transform: scale(1.2);
    }
  }
}
