@use '../../constants/css/theme' as *;
@import "../../constants/css/breakpoints.scss";

.container {
  background: #271f2d;
  display: flex;
  justify-content: center;
  overflow: hidden;
  .footer {
    width: 90%;
    padding: 0 2em;
    .top_row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding-top: 0.8em;
      @include media("<tablet") {
        flex-direction: column-reverse;
        padding-top: 2em;
        &:before {
          content: " ";
        }
      }
      @include media(">tablet") {
        &:after {
          content: " ";
        }
      }
      &:before,
      &:after {
        display: block;
        width: 120%;
        margin: 0 -4em;
        margin-top: 0.6em;
        height: 3px;
        background: linear-gradient(
          to right,
          transparent,
          red,
          purple,
          transparent
        );
      }
      & > p {
        display: none;
        font-size: 0.75em;
        margin: 0;
        color: #989898;
        @include media("<tablet") {
          display: initial;
        }
      }
      .logo_con {
        display: flex;
        flex: 1;
        align-items: center;
        color: #fff;
        & > svg {
          fill: #fff;
          width: 40px;
          height: 40px;
          margin-right: 1em;
          @include media("<tablet") {
            display: none;
          }
        }
        @include media("<tablet") {
          p {
            color: #fff;
            margin: 0.4em 0;
            margin-bottom: 0.2;
          }
        }
        p svg {
          color: crimson;
          margin-bottom: -3px;
        }
      }
      .social_con {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        font-size: 1.5em;
        color: #fff;
        svg {
          margin-left: 1em;
        }
        @include media("<tablet") {
          font-size: 2.2em;
          margin-bottom: 0.3em;
          svg:nth-of-type(1) {
            margin: 0;
          }
        }
      }
    }
    .bottom_row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #989898;
      font-size: 0.85em;
      font-weight: 600;
      a {
        margin-right: 3em;
      }
      @include media("<tablet") {
        font-size: 0.75em;
        flex-direction: column-reverse;
        margin: 1em 0;

        a {
          margin-right: 2em;
          &:last-of-type {
            margin: 0;
          }
        }
        p {
          display: none;
        }
      }
    }
  }
}
