$light: (
  bg: #fff,
  primary: #621a9a,
  primary-light: #f700f7,
  primary-dark: #ac4ff4,
  primary-hover: #ac4ff4,
  block-text: #8c8c8c40,
  mb-nav-active-bg: #e4e4e4,
  mb-nav-border: #fff,
  mb-nav-bg: #f7f7f7,
  //   primary-hover: #ac4ff4,
  //not required
  switcher: linear-gradient(to top left, #fecc51, #fcb033, #fa961b, #fa8607),
  arrow-color: #ac4ff4,
  /////////////////////////////////////////Float Icon Settings
  float-icon-color: #621a9a,
  float-icon-bg-hover: #e2bcff,
  float-icon-background: #ebd2ff66,
  float-icon-color-hover: #fff,
  ////////////////////////////////////////
  text-color: #505050,
  skills_svg_gradient_1: #9200d4,
  skills_svg_gradient_2: #7820a6,
  skills_svg_gradient_3: #ac4ff4,
  skills_svg_gradient_4: #b21fe2,
  skills_svg_gradient_5: #d440f2,
  blob-color: #f6ebff,
  black: #232323,
  btn-shadow: (
    -10px -10px 30px #ffffff,
    10px 10px 30px rgba(174, 174, 192, 0.4),
  ),
  inp-shadow: (
    -1px 1px 2px rgba(255, 255, 255, 0.3),
    1px -1px 2px rgba(216, 216, 216, 0.5),
    inset 6px 6px 12px rgba(216, 216, 216, 0.2),
    inset -6px -6px 12px rgba(216, 216, 216, 0.2),
    inset 6px -6px 12px rgba(255, 255, 255, 0.9),
    inset -6px 6px 15px rgba(216, 216, 216, 0.9),
  ),
  //////////////////////////////////
  input-color: #464646,
  input-bg: #f5f5f5,
  gradient: linear-gradient(to top left, #750fce, #551b88),
);

$dark: (
  bg: #1f1927,
  primary: #8d15ea,
  primary-light: #b351ff,
  primary-dark: #6e2ca0,
  primary-hover: #c588f5,
  block-text: #8c8c8c14,
  mb-nav-active-bg: #2e263c,
  mb-nav-border: #2d2638,
  mb-nav-bg: #241e2d,
  //   primary-hover: #ff9680,
  //not required
  accent: #ffbd26,
  switcher: #fff,
  arrow-color: #d1d0d0,
  /////////////////////////////////////////Float Icon Settings
  float-icon-color: #d1d0d0,
  float-icon-bg-hover: #484a4c,
  float-icon-background: #36363699,
  float-icon-color-hover: #d1d0d0,
  ////////////////////////////////////////
  text-color: #d1d0d0,
  skills_svg_gradient_1: #d8861e,
  skills_svg_gradient_2: #d14e33,
  skills_svg_gradient_3: #e6674d,
  skills_svg_gradient_4: #f06044,
  skills_svg_gradient_5: #ff9680,
  blob-color: #50505029,
  black: #232323,
  btn-shadow: (
    -10px -10px 30px #ffffff,
    10px 10px 30px rgba(174, 174, 192, 0.4),
  ),
  inp-shadow: (
    -1px 1px 2px rgba(255, 255, 255, 0.3),
    1px -1px 2px rgba(216, 216, 216, 0.5),
    inset 6px 6px 12px rgba(216, 216, 216, 0.2),
    inset -6px -6px 12px rgba(216, 216, 216, 0.2),
    inset 6px -6px 12px rgba(255, 255, 255, 0.9),
    inset -6px 6px 15px rgba(216, 216, 216, 0.9),
  ),
  //////////////////////////////////////////////////////
  input-color: #f5f5f5,
  input-bg: #2b064b,
  gradient: linear-gradient(to top left, #320b50, #750fce),
);

@function get($key) {
  @return var(--#{$key});
}
