@use "../constants/css/theme" as *;
@import "../constants/css/breakpoints.scss";
.layout__container {
    display: flex;
    justify-content: center;
    .layout {
        display: grid;
        width: 90vw;
        grid-template-columns: 6em minmax(0, 1fr);
        column-gap: 4em;
        @include media("<desktop") {
            grid-template-columns: 3em minmax(0, 1fr);
        }
        @include media("<laptop") {
            display: block;
        }
        .floating__nav {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            @include media("<laptop") {
                display: none;
            }
        }
    }
}
